body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: scroll;
  position: relative;
}

.calGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
}

.weekRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}

.dayCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
}

.pastMonthCard {
  color: gray;
  background-color: lightgray;
}

.weekdayDisplayContainer {
  width: 100%;
  display: flex;
  justify-content: center
}

.weekdayDisplay {
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  margin-bottom: 10px;
}

.weekdayLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.arrowButton {
  width: 10%;
  background-color: gray;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: .8em;
}

.dropdownMenu {
  background-color: lightgray;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25px;
  left: 25px;
  box-shadow: 4px 4px 4px gray;
}

.dropdownMenu h2 {
  font-weight: bold;
}

.dropdownList {
  list-style: none;
}

.dropdownItem {
  margin: 5px;
  padding: 3px;
  cursor: pointer;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px gray;
}

.dropdownHidden {
  display: none;
}

.menuButton {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.menuBar {
  height: 5px;
  width: 30px;
  background-color: gray;
  margin: 2px;
  padding: 1px;
  border-radius: 3px;
  animation: all .2s;
  z-index: 2;
}